
.material-icons
  line-height 1em
  height 1em
  width 1em
  min-width 1em
  min-height 1em

  &.md-18 
    font-size 18px
  &.md-24 
    font-size 24px
  &.md-36 
    font-size 36px
  &.md-48 
    font-size 48px
