<md-list-item class="task">
  <md-checkbox ng-model="$ctrl.task.completed" arial-label="complete" ng-click="$ctrl.complete()"></md-checkbox>
  <p ng-class="{completed: $ctrl.task.completed}">{{ $ctrl.task.title }}</p>
  <md-button class="md-secondary md-fab md-mini" arial-label="remove" ng-click="$ctrl.delete()">
    <md-icon class="material-icons step md-18">
      close
    </md-icon>
  </md-button>
</md-list-item>
