<div class="tasks">
  <studo-task-list 
    list="$ctrl.taskList"
    on-update="$ctrl.actions.updateTask(task)"
    on-delete="$ctrl.actions.deleteTask(task)">
  </studo-task-list>

  <studo-task-form
    on-save="$ctrl.actions.createTask({title: title, type: type})">
  </studo-task-form>
</div>
