<div class="app" layout="column">
  <studo-main-toolbar
    crumb-list="$ctrl.breadcrumb">
  </studo-main-toolbar>

  <md-content flex>
    <div ui-view="app"></div>
  </md-content>

  <studo-nav-toolbar></studo-nav-toolbar>
</div>
