<div class="nav-toolbar">
  <md-toolbar layout="row">
    <md-nav-bar flex="50" layout="row" layout-align="start center" md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="studo.tasks({taskType: 'front-end', taskId: null})" name="front-end">Front-End</md-nav-item>
    </md-nav-bar>

    <md-button class="md-fab" aria-label="Menu" ng-click="$ctrl.newTask($event)">
      <md-icon class="material-icons step md-36">
        menu
      </md-icon>
    </md-button>

    <md-nav-bar flex="50" layout="row" layout-align="end center" md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="studo.tasks({taskType: 'back-end', taskId: null})" name="back-end">Back-End</md-nav-item>
    </md-nav-bar>
  </md-toolbar>
</div>
