<div class="main-toolbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <studo-breadcrumb flex list="$ctrl.crumbList"></studo-breadcrumb>

      <md-button class="md-icon-button" aria-label="Search">
        <md-icon class="material-icons step md-24">
          search
        </md-icon>
      </md-button>

      <md-menu md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
          <md-icon class="material-icons step md-24">
            more_vert
          </md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-class="{'md-accent': $ctrl.filters.completed}"  ng-click="$ctrl.toggleFilter('completed')">
              {{$ctrl.filters.completed ? 'Hide' : 'Show'}} Completed Tasks
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-class="{'md-accent': $ctrl.filters.opened}" ng-click="$ctrl.toggleFilter('opened')">
              {{$ctrl.filters.opened ? 'Hide' : 'Show'}} Opened Tasks
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
