<div style="visibility: hidden">
  <div class="md-dialog-container" id="taskForm">
    <md-dialog layout-padding aria-label="Task Form">
      <md-dialog-content>
        <form name="taskForm">
          <md-input-container>
            <label>Title</label>
            <input ng-model="$ctrl.title">
          </md-input-container>

          <md-radio-group ng-model="$ctrl.type">
            <md-radio-button value="front-end">Front-end</md-radio-button>
            <md-radio-button value="back-end">Back-end</md-radio-button>
          </md-radio-group>
        </form>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button ng-click="$ctrl.close()">Cancel</md-button>
        <md-button ng-click="$ctrl.save()" class="md-raised md-primary">Ok</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
