<!doctype html>
<!--!
  v<%= webpackConfig.metadata.version %> - Build: <%= webpackConfig.metadata.buildDate %>
  Copyright (C) 2016 Boot Digital Ltda. All Rights Reserved.
  Author: Fiuza <fiuzagr@gmail.com>
-->
<html manifest="/manifest.appcache">
  <head>
    <% if (webpackConfig.metadata.cordova) { %>
      <meta http-equiv="Content-Security-Policy" content="default-src 'self' <%= webpackConfig.metadata.restBaseUrl %> data: gap: https://ssl.gstatic.com 'unsafe-eval' https:; style-src 'self' 'unsafe-inline' https:; media-src *">
      <meta name="format-detection" content="telephone=no">
      <meta name="msapplication-tap-highlight" content="no">
      <script type="text/javascript" src="cordova.js"></script>
    <% } %>

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <meta charset="utf-8">
    <title><%= webpackConfig.metadata.title %></title>
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="<%= webpackConfig.metadata.publicPath %>">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" type="text/css">

  </head>
  <body ui-view>
    Loading...
  </body>
</html>
