<div class="task-list">
  <md-list>
    <studo-task-item ng-repeat="task in $ctrl.list" task="task"
      on-update="$ctrl.update(task)"
      on-delete="$ctrl.delete(task)">
    </studo-task-item>
  </md-list>
</div>
